header {
  display: flex;
  width: calc(100% - 4rem);
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 0 2rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;

    h2 {
      cursor: pointer;
    }
  }
}
