<div class="post">
  <div class="post__header">
    <img src="/assets/default-profile-pic.png" alt="Pic" class="profile-pic" />
    <p>
      {{ username }}<span>&nbsp;{{ post.postDate }}</span>
    </p>
  </div>
  <p *ngIf="!isEditing">{{ post.content }}</p>
  <mat-form-field *ngIf="isEditing">
    <textarea matInput [formControl]="contentControl" required></textarea>
  </mat-form-field>
  <div class="post__footer">
    <button mat-button color="primary" (click)="comment()">Hozzászól</button>
    <button
      mat-button
      color="warn"
      *ngIf="isAuthor()"
      (click)="deleteEvent.emit(post.id)"
    >
      Törlés
    </button>
    <button mat-button color="primary" *ngIf="isAuthor()" (click)="edit()">
      Szerkesztés
    </button>
  </div>
  <div class="comments">
    <mat-form-field *ngIf="isCommenting">
      <textarea matInput [formControl]="commentControl" required></textarea>
    </mat-form-field>
    <div class="comment" *ngFor="let comment of comments">
      <div class="comment__data">
        <img
          src="/assets/default-profile-pic.png"
          alt="Pic"
          class="profile-pic"
        />
        <p>{{ comment.authorName }}</p>
        <mat-form-field *ngIf="isCommentEditing">
          <textarea
            matInput
            [formControl]="commentEditControl"
            required
          ></textarea>
        </mat-form-field>
        <p *ngIf="!isCommentEditing">{{ comment.content }}</p>
      </div>
      <div class="comment__buttons">
        <button
          mat-button
          color="primary"
          *ngIf="isCommentAuthor(comment.authorId)"
          (click)="editComment(comment)"
        >
          Szerkesztés
        </button>
        <button
          mat-button
          color="warn"
          *ngIf="isCommentAuthor(comment.authorId)"
          (click)="deleteComment(comment.id)"
        >
          Törlés
        </button>
      </div>
    </div>
  </div>
</div>
